<h1 class="heading-large">Create your own temporary register</h1>

<h2>Create a custom field</h2>

<p>Field names should give the name for the thing the field describes, such as 'school' or 'hospital'</p>
<p>Field names can be multiple words, separated by hyphens, if it makes the meaning clearer to users. So 'minor-injury-unit' might be a better name than 'hospital', if that's closer to the scope of the field</p>
<p>You can preview your field names and descriptions and they table they describe before you upload your data</p>

<h3>field descriptions</h3>
<p>Users of your register may not have knowledge of the subject area the register comes from. A field description helps users understand the context, scope and origin of the register.</p>

<h3>Datatypes</h3>
<p>Each field has a datatype that tells the register the kinds of data that field can contain. This helps ensure that text values aren't loaded into numerical fields, for example.</p>

<%= form_for(@custom_field, url: '/temporary_register/save_custom_field') do |form| %>
    <div class="form-group">
      <label class="form-label" for="field_name">Field Name</label>
      <%= form.text_field(:field_name, { class: 'form-control' }) %>
    </div>

    <div class="form-group">
      <label class="form-label" for="field_description">Field Description</label>
      <%= form.text_field(:field_description, { class: 'form-control' }) %>
    </div>

    <div class="form-group">
      <label class="form-label" for="datatype">Data Type</label>
      <%= form.select(:datatype, options_for_select(@datatypes.map{|datatype| [datatype['datatype'], datatype['datatype']]}), {}, class: 'form-control' ) %>
    </div>

    <div class="form-group">
      <%= form.submit("Save and add to register", { class: "button" }) %>
    </div>

<% end %>
