<h1 class="heading-large">Create your own temporary register</h1>

<h2>Create a custom field</h2>

<%= form_tag("/temporary_register/save_custom_field", method: ":post") do %>
    <div class="form-group">
      <label class="form-label" for="field_name">Field Name</label>
      <%= text_field_tag :field_name %>
    </div>

    <div class="form-group">
      <label class="form-label" for="field_description">Field Description</label>
      <%= text_field_tag :field_description %>
    </div>

    <div class="form-group">
      <label class="form-label" for="datatype">Data Type</label>
      <%= select_tag(:datatype, options_for_select(@datatypes.map{|datatype| [datatype['datatype'], datatype['datatype']]}), { class: 'form-control' }) %>
    </div>

    <div class="form-group">
      <%= submit_tag "Save and add to register", {class: "button"} %>
    </div>

<% end %>
