<%= link_to('Back', 'description', { class: 'link-back' }) %>

<h1 class="heading-large">Create your own temporary register</h1>

<h2 class="heading-medium">3. Choose fields to add to the register</h2>
<p>Add existing fields to your register, or create custom fields if what you're looking for doesn't already exist.</p>

<%= form_tag("save_fields", method: ":post") do %>
    <div class="form-group">
      <div class="grid-row">
        <div class="column-one-third field-container" id="available-field-container">
          <h3>Available fields</h3>

          <% @available_fields.each do |field| %>
            <% unless (@included_fields.include?(field['field'])) %>
              <div class="multiple-choice-container">
                <div class="multiple-choice">
                  <input type="checkbox" id="field-<%= field['field'] %>" name="fields[]" value="<%= field['field'] %>">
                  <label for="field-1"><%= field['field'] %></label>
                </div>
                <p><span class="bold">Description:</span> <%= field['text'] %></p>
                <p><span class="bold">Data type:</span> <%= field['datatype'] %></p>
              </div>
            <% end %>
          <% end %>
        </div>

        <div class="column-one-third button-container">
          &nbsp;<input type="button" class="button" id="add-field-button" value="Add field(s)" />

          &nbsp;<input type="button" class="button" id="remove-field-button" value="Remove field(s)" />
        </div>

        <div class="column-one-third field-container" id="included-field-container">
          <h3>Included fields</h3>

          <% @included_fields.each do |field_name| %>
            <% field = @available_fields.select{|f| f['field'] == field_name}.first %>
            <div class="multiple-choice-container">
              <div class="multiple-choice">
                <input type="checkbox" id="field-<%= field['field'] %>" name="fields[]" value="<%= field['field'] %>">
                <label for="field-1"><%= field['field'] %></label>
              </div>
              <p><span class="bold">Description:</span> <%= field['text'] %></p>
              <p><span class="bold">Data type:</span> <%= field['datatype'] %></p>
            </div>

            <input type="hidden" name="included_fields[]" id="included_field-<%= field_name %>" value="<%= field_name %>" />
          <% end %>
        </div>
      </div>
    </div>

    <p><%= link_to 'Create a custom field', '/temporary_register/custom_field' %></p>

    <div class="form-group">
      <%= submit_tag "Next", {class: "button"} %>
    </div>

    <script type="text/javascript">
        $(document).ready(function(){
            disableAddButton();
            disableRemoveButton();

            var $noFieldsElem = '<div class="multiple-choice-container no-fields"><p>No fields included yet</p></div>';

            $('#add-field-button').click(addFieldsToIncluded);
            $('#remove-field-button').click(removeFieldsFromIncluded);

            update_no_fields_included_message();

            $("input[id*='field-']").on('change', function() {
                var availableCheckedFields = $("#available-field-container input[id*='field-']:checked");
                var includedCheckedFields = $("#included-field-container input[id*='field-']:checked");

                availableCheckedFields.length > 0 ? enableAddButton() : disableAddButton();
                includedCheckedFields.length > 0 ? enableRemoveButton() : disableRemoveButton();
            });

            function addFieldsToIncluded() {
              var includedFields = $("#available-field-container input[id*='field-']:checked");

              includedFields.each(function() {
                $(this).prop('checked', false);

                var fieldName = $(this).val();
                $('#included-field-container').append('<input type="hidden" name="included_fields[]" id="included_field-'+ fieldName +'" value="'+ fieldName +'" />');

                var $field = $(this).parents('.multiple-choice-container');
                var $clonedField = $field.clone(true);
                $clonedField.appendTo('#included-field-container');

                $field.remove();
              });

              disableAddButton();

              $('#included-field-container .no-fields').remove();
            }

            function removeFieldsFromIncluded() {
              var removedFields = $("#included-field-container input[id*='field-']:checked");

              removedFields.each(function() {
                $(this).prop('checked', false);

                var fieldName = $(this).val();
                $('#included_field-'+ fieldName).remove();

                var $field = $(this).parents('.multiple-choice-container');
                var $clonedField = $field.clone(true);
                $clonedField.appendTo('#available-field-container');

                $field.remove();
              });

              disableRemoveButton();

              update_no_fields_included_message();
            }

            function update_no_fields_included_message() {
                if ($("#included-field-container .multiple-choice-container").length == 0) {
                    $('#included-field-container h3').after($noFieldsElem);
                }
            }

            function enableAddButton() {
                $('#add-field-button').removeAttr('disabled');
            }

            function disableAddButton() {
                $('#add-field-button').attr('disabled', 'disabled');
            }

            function enableRemoveButton() {
                $('#remove-field-button').removeAttr('disabled');
            }

            function disableRemoveButton() {
                $('#remove-field-button').attr('disabled', 'disabled');
            }
        });
    </script>
<% end %>