<%= link_to('Back', 'upload_data', { class: 'link-back' }) %>

<h1 class="heading-large">Create your own temporary register</h1>
<h2 class="heading-medium">Summary</h2>

<div class="form-group">
  <label class="form-label">Register name</label>
  <%= text_field_tag(:register_name, @register_name, { disabled: true }) %>
</div>

<div class="form-group">
  <label class="form-label">Register description</label>
  <%= text_field_tag(:register_description, @register_description, { disabled: true }) %>
</div>

<div class="form-group">
  <label class="form-label">Linked registers</label>
  <div class="register-container">
    <% @linked_registers.each do |register| %>
      <div class="register-item">
        <p><span class="bold"><%= register['register'] %></span></p>
      </div>
    <% end %>
  </div>
</div>

<div class="form-group">
  <label class="form-label">Included fields</label>

  <div class="field-container">
    <% @included_fields.each do |field| %>
      <div class="field-item">
        <p><span class="bold"><%= field['field'] %></span></p>
      </div>
    <% end %>
  </div>

</div>

<div class="form-group">
  <label class="form-label">Data file to upload</label>
  <%= text_field_tag(:register_data_file, @upload_file_name, { disabled: true }) %>
</div>

<%= form_tag("create_register", method: ":post") do %>
  <div class="form-group">
    <%= submit_tag "Create register", {class: "button"} %>
  </div>
<% end %>