<%= link_to('Back', 'deployment_slot', { class: 'link-back' }) %>

<h1 class="heading-large">Create your own temporary register</h1>
<h2 class="heading-medium">Summary</h2>

<dl class="summary-list">
  <dt>Register name</dt>
  <dd><%= @register_name %></dd>

  <dt>Register description</dt>
  <dd><%= @register_description %></dd>

  <dt>Register custodian</dt>
  <dd><%= @register_custodian %></dd>
</dl>

<dl class="summary-list">
  <dt>Deployment slot</dt>
  <dd><%= @deployment_slot %></dd>

  <dt>Deployment slot endpoint</dt>
  <dd><%= @deployment_slot_endpoint %></dd>
</dl>

<% if(@linked_registers.length > 0) %>
  <div class="form-group clear">
    <p class="heading">Linked registers</p>
    <div class="register-container">
      <% @linked_registers.each do |register| %>
        <div class="register-item">
          <p><span class="bold"><%= register['register'] %></span></p>
        </div>
      <% end %>
    </div>
  </div>
<% end %>


<div class="form-group clear">
  <p class="heading">Included fields</p>

  <div class="field-container">
    <% @included_fields.each do |field| %>
      <div class="field-item">
        <p><span class="bold"><%= field['field'] %></span></p>
      </div>
    <% end %>
  </div>
</div>

<%= form_tag("create_register", method: ":post") do %>
  <div class="form-group clear">
    <%= submit_tag "Create register", {class: "button"} %>
  </div>
<% end %>

