<h1 class="heading-large">Create your own temporary register</h1>

<h2>3. Choose fields to add to the register</h2>

<%= form_tag("save_fields", method: ":post") do %>
    <div class="form-group">
      <div class="grid-row">
        <div class="column-one-third field-container" id="available-field-container">
          <h3>Available fields</h3>

          <% @available_fields.each do |field| %>
            <div class="multiple-choice-container">
              <div class="multiple-choice">
                <input type="checkbox" id="field-<%= field['field'] %>" name="fields" value="field-<%= field['field'] %>">
                <label for="field-1"><%= field['field'] %></label>
              </div>
              <p><span class="bold">Description:</span> <%= field['text'] %></p>
              <p><span class="bold">Data type:</span> <%= field['datatype'] %></p>
            </div>
          <% end %>
        </div>

        <div class="column-one-third button-container">
          &nbsp;<input type="button" class="button" id="add-field-button" value="Add field(s)" />

          &nbsp;<input type="button" class="button" id="remove-field-button" value="Remove field(s)" />
        </div>

        <div class="column-one-third field-container" id="included-field-container">
          <h3>Included fields</h3>
        </div>
      </div>
    </div>

    <p>
      <a href="#">Create a custom field</a>
    </p>

    <div class="form-group">
      <%= submit_tag "Next", {class: "button"} %>
    </div>

    <script type="text/javascript">
        $(document).ready(function(){
            disableAddButton();
            disableRemoveButton();

            var $noFieldsElem = '<div class="multiple-choice-container no-fields"><p>No fields included yet</p></div>';

            $('#add-field-button').click(addFieldsToIncluded);
            $('#remove-field-button').click(removeFieldsFromIncluded);

            $('#included-field-container h3').after($noFieldsElem);

            $("input[name='fields']").on('change', function() {
                var availableCheckedFields = $("#available-field-container input[name='fields']:checked");
                var includedCheckedFields = $("#included-field-container input[name='fields']:checked");

                availableCheckedFields.length > 0 ? enableAddButton() : disableAddButton();
                includedCheckedFields.length > 0 ? enableRemoveButton() : disableRemoveButton();
            });

            function addFieldsToIncluded() {
                var includedFields = $("#available-field-container input[name='fields']:checked");

                includedFields.each(function() {
                  $(this).prop('checked', false);

                  var $field = $(this).parents('.multiple-choice-container');
                  var $clonedField = $field.clone(true);
                  $clonedField.appendTo('#included-field-container');

                  $field.remove();
                });

                disableAddButton();

                $('#included-field-container .no-fields').remove();
            }

            function removeFieldsFromIncluded() {
              var removedFields = $("#included-field-container input[name='fields']:checked");

                removedFields.each(function() {
                    $(this).prop('checked', false);

                    var $field = $(this).parents('.multiple-choice-container');
                    var $clonedField = $field.clone(true);
                    $clonedField.appendTo('#available-field-container');

                    $field.remove();
                });

                disableRemoveButton();

                $('#included-field-container h3').after($noFieldsElem);
            }

            function enableAddButton() {
                $('#add-field-button').removeAttr('disabled');
            }

            function disableAddButton() {
                $('#add-field-button').attr('disabled', 'disabled');
            }

            function enableRemoveButton() {
                $('#remove-field-button').removeAttr('disabled');
            }

            function disableRemoveButton() {
                $('#remove-field-button').attr('disabled', 'disabled');
            }
        });
    </script>
<% end %>