<h1>Summary</h1>

<h3>Selected Register:</h3> <%= @register['register'] %>
<h3>Endpoint:</h3> <%= @register['_uri'] %>
<h3>Phase:</h3> <%= @register['phase'] %>
<h3>Selected Field:</h3> <%= @field %>

<h3>Picker Data:</h3>
<textarea rows="20" cols="100"><%= @pickerData %></textarea>


