<% content_for :head do %>
    <%= stylesheet_link_tag 'application' %>
    <%= javascript_include_tag 'application' %>
<% end %>

<%= content_for :content do %>
  <main role='main' class="container" tabindex='-1' >
    <div class="grid-row">
      <div class='column-full'>
        <%= yield %>
      </div>
    </div>
  </main>
<% end %>

<%= render file: 'layouts/govuk_template' %>
