<% content_for :head do %>
    <%= stylesheet_link_tag 'application' %>
    <%= stylesheet_link_tag '//unpkg.com/accessible-typeahead@0.4.0/examples/styled.css' %>
    <%= javascript_include_tag "//unpkg.com/accessible-typeahead@0.4.0" %>
<% end %>

<%= content_for :content do %>
  <main role='main' class="container" tabindex='-1' >
    <div class="grid-row">
      <div class='column-full'>
        <%= yield %>
      </div>
    </div>
  </main>
<% end %>

<%= render file: 'layouts/govuk_template' %>
